<div class="center jumbotron">
  <h1>Bienvenidos a Csoftmty</h1>

  <h2>
    Adquiere tu membresía y conoce todos tus beneficios
  </h2>

  <%= link_to "¡Inscríbete ya!", '#', class: "btn btn-lg btn-primary" %>
</div>

<!-- <%= link_to image_tag("csoft.png", alt: "csoft logo") %> -->
