<footer class="footer">
  <small>
    Análisis y Modelación de Sistemas de Software </br>
    by Sergio, Eduardo, Andrés y Katie
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros", about_path %></li>
      <li><%= link_to "Contacto",  "#" %></li>
    </ul>
  </nav>
</footer>
